### Python ###
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

### Entornos Virtuales ###
venv/
.venv/
env/
ENV/

### Django ###
# No subir la base de datos local
db.sqlite3
db.sqlite3-journal

# No subir archivos multimedia
media/

# Archivos de entorno y configuraciones
.env
.env.local
local_settings.py

### Herramientas / IDEs ###
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

### Gemini ###
.gemini/
